body {
  width: 100%;
  height: 100%;
  margin: 0;
}
h1 {
  text-align: center;
}

img {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

nav {
  text-align: center;
}
nav a{
  padding-left:10px;
  padding-right:10px;
  background:crimson;
}

figcaption{
  font-size: 50%;
  text-align: center;
}

#featured-property p{
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  line-height: 150%;
  max-width: 800px;
}

div{
  float:left;
  text-align: center;
  background-color: crimson;
  width: 25%;
}